@font-face {
    font-family: rel-reg;
    src: url(fonts/Roboto-Regular.ttf); 
}

@font-face {
    font-family: rel-reg;
    src: url(fonts/Raleway-Regular.ttf);
}  
    
@font-face {
    font-family: open-sans;
    src: url(fonts/OpenSans-Regular.ttf);
}  

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
body {
    display: block;
    font-family: rel-reg;
    min-width: 320px;
}
/* * section Axit * */

nav {
    position: relative;
    height: 70px;
    background-color: black;
    z-index: 99;
}
.logo strong {
    font-family: reg-ral;
    font-weight: normal;
    color: darksalmon;
}
.wrapper-nav {
    max-width: 1420px;
    padding: 15px 10px; 
    margin: auto;
    height: 70px; 
    background-color: black;
    display: flex;
    justify-content: space-between;
}
.logo {
    margin: 5px 20px 10px 30px ;
    color: white;
    font-size: 30px;
}
strong {
    font-size: 32px;
}
.wrapper-nav_links {
    display: flex;
    justify-content: space-between;
}
.wrapper-nav_links p {
    margin: 10px 20px ;
    color: white;
    display: flex;
    justify-content: flex-end;
}
.hamburger {
    display: none;
}

@media (max-width: 960px) {
    .wrapper-nav_links {
        display: none;
    }
    .hamburger {
        display: block;
        margin: 5px 5px 0px 0px;
    }
  
}

/**** *header ******/

header {
    height:600px;
    background-image: url("img/bg.png");
}
.wrapper-header {
    margin: auto;
    padding: 110px 20px 40px 40px;
    display: flex;
    justify-content: space-between;
    max-width: 1420px;
}

.white {
    margin: 10px auto 20px;
    font-size: 36px;
    color: white;
}
.decor-line {
    width: 64px;
    height: 2px;
    background-color: gray;
    opacity: 60%;
    margin: 25px 0px;
}
h1 {
    color: white;
}
h1 strong {
    color: #EC7979;
}
.axit-desc {
    font-size: 16px;
    color: white;
}
.header_form-bottom p {
    font-size: 16px;
    color: white;
}
.wrapper-header article {
    font-weight: 14px;
}
.btn-header {
    margin-top: 39px;
    width: 135px;
    height: 42px;
    border: 1px solid white;
    text-align: center;
    line-height: 42px;
    color: #fff;
    cursor: pointer;
}

.header-form {
    margin-bottom: 30px;
    width:370px;
    text-align: center;
    background-color: ivory;
    border-radius: 8px;
    overflow: hidden
}
.try {
    padding: 10px 10px;
    font-family: ral-reg;
    font-size: 20px;
    color: black;
    text-align: center; 
}
.try strong {
    color: #EC7979;
    font-weight: bold;
}

.header-form input {
    display: block;
    margin: 10px auto 0px;
    width: 252px;
    height: 60px;
    border: none;
    border-bottom: 1px solid #BDBDBD;
    background-color: #FFFFF0;
    font-size: 17px;
    outline: none;
}
.header_form-bottom {
    margin-top: 55px;
    display: block;
    line-height: 52px;
    background-color: #EC7979;
    color: #fff;
    text-align: center;
    cursor: pointer;
}
@media (max-width: 960px)  {
    .wrapper-header {
        display: block;
    }
    header {
        height: max-content;
        padding-bottom: 30px;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .header_text {
        width: 100%;
        text-align: center;

    }
    .decor-line {
        margin: 25px auto;
    }
    .btn-header {
        margin: 39px auto;
    }
    .header-form {
        margin: 0px auto 30px;
    }
}
@media (max-width: 480px) {
    .header-form {
        width:310px;
    }
    .wrapper-header {
        margin: auto;
        padding: 110px 0px 40px 0px;
    }
}
/*** social media ****/

.social-media {
    background-color:#F8EFEF;
}
.wrapper_social-media {
    margin: auto;
    max-width: 1420px;
    padding: 15px 10px;
    display: flex;
    justify-content: space-between;
}
.social_media-text {
    width: 40%;
}
.social_media-text p{
    margin-top: 10px;
    color: #868686;
    font-size: 14px;
}
.article {
    color: #333;
    font-size: 16px;
    font-family: open-sans;
    margin-top: 20px 10px;  
}
.social-icons {
    width: 60%;
    padding: 30px 0px;
    display: flex;
    justify-content: flex-end;
}

@media (max-width: 960px) {
    .wrapper_social-media {
        display: block;
    }
    .social_media-text {
        width: 100%;
        text-align: center;
    }
    .article {
        color: #333;
        font-size: 16px;
        font-family: open-sans;
        margin-top: 20px 10px;  
    }
    .social-icons {
        display: block;
        width: 100%;
        padding: 30px 0px;
    }
    .social-icons img {
        display: block;
        margin: auto;
        width: 310px;
    }
}

/****   tabs-soft   ****/

.tabs-soft {
    margin-top: 120px;
    padding: 20px 20px;
}
.wrapper-tabs-soft-top {
    max-width: 1400px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.wrapper_tabs-soft {
    padding: 20px 20px; 
}
.tabs-soft-tabs {
    width: 20%;
}

.tabs-soft-tabs-block {
    width: 112px;
    height: 110px; 
    line-height: 110px;
    border-radius: 4px;
    text-align: center;
    margin-bottom: 10px;
    text-transform: uppercase;
    color: #fff;
}

.tabs-block-red {
    background-color: #EC7979;
}
.tabs-block-black {
    background: #333;
}
.tabs-title {
    padding: 20px;
    font-weight: bold;
    font-size: 20px;
    font-family: open-sans;
    color: #333;
}
.tabs-soft-text > p {
    width: 572px;
    height: 133px;
    padding: 20px 20px;
    font-size: 14px;
    color: #333;
    opacity: 60%;
}
.tabs-soft-img {
    display: flex;
    justify-content: flex-end;
}
.tabs-soft-img img {
    width: 320px;
    height: 253px;
    display: block;
}
.btn-tabs {
    display: block;
    font-size: 15px;
    margin: 39px 20px 20px;
    width: 135px;
    height: 42px;
    background-color: #EC7979;
    text-align: center;
    line-height: 42px;
}

@media (max-width: 1100px) {
    .tabs-soft-text > p {
        width: 450px;
        height: max-content;
    }
}
@media (max-width: 960px) {
    .wrapper-tabs-soft-top {
        display: block;
    }
    .tabs-soft-tabs {
        width: 150px;
        margin: auto;
    }
    .tabs-soft-text {
        text-align: center;
    }
    .tabs-soft-text > p {
        width: 100%;
        height: max-content;
        padding: 20px 20px;       
    }
    .btn-tabs {
        margin: 39px auto 20px;
    }
    .tabs-soft-img {
        justify-content: center;
    }
}

/* * section awesome * */
.awesome {
width: 100%;
padding: 100px 0 109px;

}
.awesome-title {
tab-size: 36px;
font-weight: bold;
text-align: center;
text-transform: uppercase;
font-family: rel-reg;
color: #212121;
 }
.awesome-title::after {
content: "";
display: block;
width: 64px;
height: 2px;
background-color: #D98943;
margin: 25px auto 30px;
}
.title-content {
font-family: rel-reg;
color: #000;
text-align: center;
}
.awesome-wrapper {
margin-top: 67px;
display: flex;
}

.awesome-wrapper__item {
margin: 0 auto;
width: 350px;
}
h3 {
font-family: open sans;
font-weight: bold;
color: black;
font-size: 20px;
}
.awesome-wrapper-img {
width: 70px;
height: 70px;
border: 1px solid #D98943;
border-radius: 50%;
display: block;
margin: 0 auto;
position: relative;
}

.awesome-img__center {
display: block;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
}
.item_title {
text-align: center;
display: block;
font-size: 20px;
line-height: 27px;
color: #333333;
/* margin: 30px auto; */
}
.wrapper-content {
text-align: center;
color: #000;
}

/* * section pricing * */

.pricing {
margin-top: 100px;
max-width: 100%;
background-color: #F5F5F5;
padding: 80px 113px 60px;
}
.pricing-title {
tab-size: 36px;
font-weight: bold;
text-align: center;
text-transform: uppercase;
font-family: rel-reg;
color: #212121;
}
.pricing-title::after {
content: "";
display: block;
width: 64px;
height: 2px;
background-color: #D98943;
margin: 25px auto 30px;
}
.pricing-subtitle {
font-family: rel-reg;
color: #000;
text-align: center;
}
.pricing-wrapper {
margin: 30px -15px;
display: flex;
justify-content: center;
}
.pricing-wrapper-item {
width: 340px;
margin: 15px;
cursor: pointer;
transition: .3s;
}
.pricing-wrapper-item:hover {
margin-top: -20px;
transition: .7s;
}
.pricing-wrapper-item-black-title >p {
font-family: open-sans;
text-align: center;
height: 50px;
line-height: 50px;
background-color: #333;
border-bottom: 1px solid #fff;
color: #fff;
font-weight: bold;
font-size: 20px;
}
.pricing-wrapper-item-free{
text-align: center;
line-height: 50px;
background-color: #333;
color: #fff;
font-size: 14px;
}
.pricing-wrapper-item-price >p {
font-family: ral-reg;
text-align: center;
color: #fff;
background-color: #333;
line-height: 100px;
color: #999;
font-weight: bold;
font-size: 35px;
border-bottom: 1px solid #fff;
}
.pricing-wrapper-item-list {
margin-top: 3px;
text-align: center;
line-height: 40px;
background-color: #fff;
color: #999;
font-size: 14px;
font-family: open-sans;
}
/* * section customers * */
.customers {
width: 100%;
padding: 80px 113px 60px;
}
.customer-title {
tab-size: 36px;
font-weight: bold;
text-align: center;
text-transform: uppercase;
font-family: rel-reg;
color: #212121;
}
.customer-title:after {
content: "";
display: block;
width: 64px;
height: 2px;
background-color: #D98943;
margin: 25px auto 30px;
}
.title-content {
font-family: rel-reg;
color: #000;
text-align: center;
}
.customer-wrapper {
display: flex;
justify-content: space-between;
}
.customers-wrapper-card {
max-width: 100%;
display: flex;
justify-content: center;
align-items: center;
}
.customer-wrapper-card {
display: flex;
max-width: 298px;
margin: auto;
margin: 0 15px 20px;
justify-content: space-between;
flex-direction: column;
padding: 0 5px 5px;
 
}
.text-card {
    margin-top: 90px;
    font-size: 14px;
    line-height: 19px;
    align-items: center;
    text-align: center;
    color: #86878b;
    background-color: #e2e2e2;
    border-radius: 7px;
    padding: 9px 22px 6px 23px;
}
.customer-wrapper-left_side {
    display: flex;
/* justify-content: space-around; */
}
.customer-wrapper-lef_side-img {

    width: 70px;
    height: 70px;
    border: 1px solid #fff;
    overflow: hidden;
    border-radius: 50%;
}
.customer-wrapper-lef_side-img img {
    display: block;
    margin: auto;
    width: 70px;
    height: 70px;
}
.photo {
    height: 100%;
    
}
.customer-wrapper-right_side {
    display: flex;
    flex-direction: column;
}
.jeremy {
    display: flex;
    justify-content:flex-end;
    margin-top: -50px;
    font-family: open-sans;
    color: #333;
    font-weight: bold;
    font-size: 1.5em;

}
.manager {
    display: flex;
    font-size: 1em;
    font-family: open-serif;
    color: #333;
    justify-content: flex-end;
}
/* section stylish */
.stylish {
    width: 100%;
    height: 326px;
    padding: 80px 113px 60px;
    background-image: url('../img/background\ 1.png');
}
.stylish-title {
    font-family: open-sans;
    opacity: 80%;
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    font-family: rel-reg;
    color: white;
}
.stylish-title:after {
    content: "";
    display: block;
    width: 64px;
    height: 2px;
    background-color: white;
    margin: 25px auto 30px;
}
.stylish-subtitle {
    font-family: rel-reg;
    color: white;
    text-align: center;
    }
.btn{
    margin: 59px auto;
    color: white;
    width: 135px;
    height: 42px;
    border: 1px solid white;
    text-align: center;
    line-height: 42px;
}
/* * section contact * */
.contact {
    background-color: #F5F5F5;
    padding: 100px 10px 30px;
}
.contact-title{
    tab-size: 36px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    font-family: rel-reg;
    color: #212121;
}
.contact-title::after {
    content: "";
    display: block;
    width: 64px;
    height: 2px;
    background-color: #D98943;
    margin: 25px auto 30px;
}
.contact-subtitle {
    font-family: rel-reg;
    color: #000;
    text-align: center;
}
.contact-form {
    display: flex;
    justify-content: center
}
.form-content-left_item {
    width: 478px;
    margin: 0px 50px;
}
.form-content-right_item {
    width: 478px;
    height: 216px;
    margin: 0px 50px;
    border-bottom: 1px solid #BDBDBD;
}
.contact-form input {
    display: block;
    margin: 20px 0px;
    width: 478px;
    height: 60px;
    border-bottom: 1px solid #BDBDBD;
    font-size: 17px;
}
.text-box {
    margin: 0px auto;
    display: block;
    border: none;
    color: #BDBDBD;
    }
    .btn-message {
    display: block;
    color: white;
    font-size: 15px;
    margin: 39px 20px;
    width: 135px;
    height: 42px;
    background-color: #EC7979;
    text-align: center;
    line-height: 42px;
}
footer {
    max-width: 100%;
    padding: 25px 0 15px;
    background-color: #000000;      
}
.social_icons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row; 
    align-items: center;
    margin: 15px;
    }
.si {
    display: flex;
    justify-content: space-between;
  margin: 0 10px;
    align-items: center;
}
.copy {
    color: white;
    font-family: open-sans;
    display: flex;
    justify-content: center;
    margin: 10px 0 15px;
}
 
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    


































































